<div class="row">
    <div class="col-2 mb-3" *ngFor="let photo of property.photos">
        <img src="{{photo.imageUrl}}" alt="{{photo.imageUrl}}" class="img-thumbnail p-1" />
        <div class="text-center">
            <button class="btn btn-sm"
            [disabled]="photo.isPrimaty"
            [ngClass]='photo.isPrimaty ? "btn-success active" : "btn-outline-success"'
            (click)="setPrimarybtn(property.id,photo)">
                Main
            </button>
            <button class="btn btn-sm btn-danger" (click)="deletePhotoBtn(property.id,photo)"><i class="fa fa-trash"></i></button>
        </div>
    </div>

    <div ng2FileDrop [uploader]="uploader" class="card col-3 bg-faded p-3 text-center mb-3 drop-zone" style="cursor: pointer;">
        <i class="fa fa-upload fa-2x"></i>
        Drop Photo Here
    </div>
</div>