<div class="row">
    <div class="col-2" *ngFor="let photo of property.photos">
        <img src="{{photo.imageUrl}}" alt="{{photo.imageUrl}}" class="img-thumbnail p-1" />
        <div class="text-center">
            <button class="btn btn-sm"
            [disabled]="photo.isPrimaty"
            [ngClass]='photo.isPrimaty ? "btn-success active" : "btn-outline-success"'
            (click)="setPrimarybtn(property.id,photo)">
                Main
            </button>
            <button class="btn btn-sm btn-danger" (click)="deletePhotoBtn(property.id,photo)"><i class="fa fa-trash"></i></button>
        </div>
    </div>
</div>